@media screen and (max-width: 1325px) {

    //Секция Trive//

    .trive__content {
        //padding-left: 100px;
        //-right: 100px;
    }

}

@media screen and (max-width: 1245px) {

    //Секция About//

    .about__wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (max-width: 768px) {

    //Секция About//

    .about {

    &__wrapper {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        position: static;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__text {
        text-align: center;
    }

    &__link {
        margin-top: 25px;
    }

    }

}

@media screen and (max-width: 360px) {

    //Секция About//

    .about__text {
        font-size: 20px;
    }

}
