@media screen and (max-width: 1439px){

    //Секция Training//

    .training {

        &__wrapper {
            overflow-x: auto;
            overflow-y: hidden;
            height: 360px;
        }

        &__cell {
            height: 100%;
        }

    }

}

@media screen and (max-width: 1350px) {

    //Секция Smile//

    .smile {

        &__cell-big {
            padding: 70px 0 0;
        }

        &__title {
            font-size: 45px;
            margin-top: 60px;
            margin-bottom: 40px;
        }

        &__text {
            font-size: 30px;
        }

    }

}

@media screen and (max-width: 1280px) {

    //Секция Footer//

    .footer {

        &__top {
            flex-direction: column;
            align-items: center;
        }

        &__image {
            max-width: 100%;
        }

        &__content {
            padding-top: 50px;
            margin-bottom: 50px;
        }

        &__info {
            margin-left: 0;
        }

    }

}

@media screen and (max-width: 1255px) {

    //Секция About//

    .about__wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    //Секция Method//

    .method {

        &__wrapper {
            grid-template-columns: repeat(2, 480px);
            grid-template-rows: repeat(3, 480px);
            justify-content: center;
            background-color: #E5E5E5;
        }

    }

    //Секция Way//

    .way {

        &__cell {
            padding-right: 40px;
            padding-left: 40px;

            &:nth-child(1n+1) {
                padding-top: 25px;
                padding-bottom: 15px;
            }

            &:nth-child(1n+4) {
                padding-top: 25px;
                padding-bottom: 15px;
            }

        }

    }

}

@media screen and (max-width: 1235px) {

    //Секция Attention//

    .attention__content {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (max-width: 1135px) {

    //Секция Header//

    .header {

        &__wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }

        &__image {
            display: none;

            &::before {
                display: none;
            }

        }

        &__title {
            margin-bottom: 50px;
        }

    }

}

@media screen and (max-width: 1100px) {

    //Секция Trive//

    .thrive {

        &__wrapper {
            flex-direction: column-reverse;
        }

        &__image {
            max-width: 100%;
        }

        &__content {
            max-width: 100%;
            padding: 50px 0 50px
        }

        &__inner {
            margin: 0 10px;
        }

        &__title {
            margin-bottom: 35px;
        }

    }

    //Секция Attention//

    .attention {

        &__wrapper {
        flex-direction: column;
        }

        &__image {
            max-width: 100%;
        }

        &__inner {
            margin-right: 0;
        }

        &__title {
            margin-bottom: 100px;
        }

        &__text {
            margin-bottom: 100px;
        }

    }

    //Секция Smile//

    .smile {

        &__inner {
            margin-left: 10px;
            margin-right: 10px;
        }

        &__cell-big {
            padding-top: 50px;
        }

        &__title {
            font-size: 33px;
            margin-top: 30px;
            margin-bottom: 25px;
        }

        &__text {
            font-size: 24px;
            margin-bottom: 30px;
        }

    }

}

@media screen and (max-width: 960px) {

    //Секция Method//

    .method {

        &__wrapper {
            grid-template-columns: minmax(200px, 480px);
            grid-template-rows: repeat(6, 480px);
            justify-content: center;
        }

        &__cell::after {
            width: 270px;
        }

    }

}

@media screen and (max-width: 795px) {

    //Секция About//

    .about {

        &__wrapper {
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            position: static;
            margin-top: 0;
            margin-bottom: 25px;
        }

        &__text {
            text-align: center;
        }

        &__link {
            margin-top: 25px;
        }

    }

}

@media screen and (max-width: 768px) {

    //Секция Trive//

    .thrive {

        &__content {
            max-width: 100%;
            padding: 25px 0 25px
        }

        &__title {
            margin-bottom: 25px;
            font-size: 28px;
        }

        &__span {
            font-size: 22px;
        }

        &__text {
            font-size: 18px;
        }

    }

    //Секция Method//

    .method {

        &__cell {
            text-align: center;
            padding-left: 0;
            padding-right: 0;

            &::after {
                display: none;
            }

            &::before {
                display: none;
            }

        }

    }

    //Секция Way//

    .way {

        &__wrapper {
            grid-template-columns: 280px 280px;
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;
        }

        &__heading {
            font-size: 22px;
            margin-bottom: 25px;
        }

    }

    //Секция Attention//

    .attention {

        &__content {
            padding-top: 42px;
        }

        &__title {
            margin-bottom: 50px;
        }

        &__text {
            margin-bottom: 50px;
            font-size: 28px;
        }

    }

    //Секция Smile//

    .smile {

        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__cell-big {
            padding: 20px 0 20px;
            order: 2;
        }

        &__image {
            max-width: 100%;
            order: 1;
        }

    }

}

@media screen and (max-width: 700px) {

    //Секция Footer//

    .footer {

        &__content {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 25px;
            margin-bottom: 25px;
        }

        &__info {
            margin-bottom: 25px;
        }

        &__contacts {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 25px;
        }

        &__title {
            margin-bottom: 25px;
        }

        &__bottom {
            justify-content: center;
            padding-left: 0;
        }

    }

}

@media screen and (max-width: 530px) {

    //Секция Header//

    .header {

        &__container {
            background: rgb(244, 249, 226);
        }

        &__wrapper {
            padding-bottom: 30px;
        }

        &__menu {
            flex-direction: column;
            margin-bottom: 60px;
        }

        &__menu-link {
            margin-bottom: 35px;
        }

        &__list {
            margin-bottom: 35px;
        }

        &__title {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 25px;
        }

        &__text {
            margin-bottom: 50px;
        }

        &__btn-block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__btn-left {
            margin-right: 0;
            margin-bottom: 35px;
        }

        &__btn-right {
            margin-left: 40px;
        }

    }

}

@media screen and (max-width: 500px) {

    //Секция Way//

    .way__wrapper {
        grid-template-columns: 280px;
        grid-template-rows: repeat(6, 1fr);
        justify-content: center;
    }

}

@media screen and (max-width: 360px) {

    //Секция About//

    .about__text {
        font-size: 20px;
    }

    //Секция Attention//

    .attention {

        &__content {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        &__title {
            margin-bottom: 25px;
        }

        &__text {
            margin-bottom: 25px;
            font-size: 20px;
            line-height: 35px;
        }

    }

    //Секция Training//

    .training {

        &__wrapper {
            height: 300px;
        }

        &__cell {
            height: 300px;
            width: 300px;

            &::before {
                left: 30px;
            }

            &::after {
                left: 20px;
            }

        }

        &__cell--lightgreen {

            &::before {
                left: 55px;
            }

        }

    }

    //Секция Method//

    .method {

        &__cell {

            &::after {
                display: none;
            }

            &::before {
                display: none;
            }

        }

        &__link {
            font-size: 24px;
        }

    }

    //Секция Smile//

    .smile {

        &__title {
            font-size: 23px;
            margin-top: 0;
            margin-bottom: -15px;
        }

        &__text {
            font-size: 18px;
            margin-bottom: 20px;
        }

    }

}