@media screen and (max-width: 1245px) {

    .about__wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (max-width: 768px) {

    .about {

    &__wrapper {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        position: static;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__text {
        text-align: center;
    }

    &__link {
        margin-top: 25px;
    }

    }

}
