@font-face {
    font-family: "Larsseit-Bold";
    src: url("./../fonts/woff2/Larsseit-Bold.woff2") format("woff2"),
      url("./../fonts/woff/Larsseit-Bold.woff") format("woff");
    }

@font-face {
      font-family: "Larsseit-Medium";
      src: url("./../fonts/woff2/Larsseit-Medium.woff2") format("woff2"),
      url("./../fonts/woff/Larsseit-Medium.woff") format("woff");
    }

@font-face {
    font-family: "Larsseit";
    src: url("./../fonts/woff2/Larsseit.woff2") format("woff2"),
      url("./../fonts/woff/Larsseit.woff") format("woff");
    }



// Готический шрифт Schwabacher (для Проверки Правильного подключения Шрифтов).

@font-face {
  font-family: "Schwabacher";
  src: url("./../fonts/gothic/Schwabacher.woff2") format("woff2"),
    url("./../fonts/gothic/Schwabacher.woff") format("woff");
}