.attention {

    &__wrapper {
        // display: grid;
        // grid-template-columns: 1fr 2fr;
        // grid-template-rows: 1fr;
        display: flex;
    }

    &__image {
        max-width: 480px;
        width: 100%;
        object-fit: cover;
    }

    &__content {
        padding: 103px 0 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 960px;
        width: 100%;
    }

    &__inner {
        max-width: 676px;
        margin-right: 70px;
    }

    &__title {
        font-family: Larsseit;
        font-size: 16px;
        line-height: 16.19px;
        letter-spacing: 6%;
        text-align: left;
        color: #22356F;
        margin-bottom: 225px;
    }

    &__text {
        font-family: Larsseit-Bold;
        font-size: 36px;
        line-height: 52.73px;
        letter-spacing: -1%;
        text-align: left;
        color: #22356F;
        margin-bottom: 152px;
    }

    &__span {
        color: #62D0DF;
    }

    &__link {
        font-family: Larsseit-Bold;
        font-size: 16px;
        line-height: 23.44px;
        letter-spacing: 10%;
        text-align: left;
        color: #FAB63E;
        text-decoration: none;
    }

}