.footer {

    &__top {
        display: flex;
    }

    &__image {
        height: 380px;
    }

    &__content {
        padding: 101px 161px 0px 73px;
        display: flex;
    }

    &__info {
        max-width: 173px;
    }

    &__title {
        font-family: Larsseit-Bold;
        font-size: 14px;
        line-height: 10.66px;
        letter-spacing: -0.6%;
        color: #22356F;
        margin-bottom: 58px;
    }

    &__text {
        font-family: Larsseit;
        font-size: 14px;
        line-height: 22.97px;
        letter-spacing: -0.6%;
        color: #22356F;
        opacity: 0.5;
    }

    &__contacts {
        max-width: 161px;
        margin-left: 93px;
        margin-right: 104px;
    }

    &__tel {
        display: inline-block;
        font-family: Larsseit;
        font-size: 14px;
        line-height: 22.97px;
        letter-spacing: -0.6%;
        color: #22356F;
        opacity: 0.5;
        text-decoration: none;
        margin-top: 35px;
    }

    &__mail {
        font-family: Larsseit;
        font-size: 14px;
        line-height: 22.97px;
        letter-spacing: -0.6%;
        color: #4a8eee;
        text-decoration: none;
    }

    &__officehours {
        max-width: 105px;
    }

    &__bottom {
        background-color: #62D0DF;
        padding-top: 35px;
        padding-bottom: 30px;
        padding-left: 179px;
    }

    &__copyright {
        font-family: Larsseit-Bold;
        font-size: 14px;
        line-height: 10.66px;
        letter-spacing: -0.6%;
        color: #FFFFFF;
    }

    &__span {
        width: 9px;
        height: 9px;
        font-family: Larsseit-Bold;
        font-size: 14px;
        line-height: 10.66px;
        letter-spacing: -0.6%;
        color: #FFFFFF;
        vertical-align: middle;
        margin-right: 10px;
    }

}