.footer {

    &__top {
        display: flex;
    }

    &__image {
        height: 380px;
    }

    &__content {
        padding: 101px 170px 0px 93px;
        display: flex;
    }

    &__info {

    }

    &__title {
        margin-bottom: 58px;

    }

    &__text {

    }

    &__contacts {
        margin-left: 93px;
        margin-right: 104px;
    }

    &__officehours {

    }

    &__bottom {
        background-color: #62D0DF;
        padding-top: 35px;
        padding-bottom: 30px;
        padding-left: 179px;
    }

    &__copyright {
        font-family: Larsseit-Bold;
        font-size: 14px;
        font-family: Larsseit;
        line-height: 10.66px;
        letter-spacing: -0.6%;
        color: #FFFFFF;
    }

    &__span {
        width: 9px;
        height: 9px;
        font-family: Larsseit-Bold;
        font-size: 14px;
        line-height: 10.66px;
        letter-spacing: -0.6%;
        vertical-align: middle;
        margin-right: 10px;
    }

}