.header {

    &__container {
    background: linear-gradient(90deg, rgb(244, 249, 226) 78%, rgb(255, 255, 255) 50%);
    height: 840px;
    padding-bottom: 2px;
    position: relative;
    }

    &__wrapper {
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;
        padding-top: 27px;
        padding-bottom: 75px;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        overflow: hidden;

        &::before {
            content: "";
            width: 808px;
            height: 545px;
            background: #EDFDFF;
            border-radius: 312.159px;
            position: absolute;
            top: 30px;
            right: -135px;
            transform: rotate(-65deg);
            z-index: -1;
        }

    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 79px;
    }

    &__menu-link {
        font-family: Larsseit-Bold;
        font-size: 24px;
        line-height: 26.72px;
        letter-spacing: -3.5%;
        color: #62D0DF;
        text-decoration: none;
    }

    &__list {
        list-style-type: none;
        display: flex;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            width: 50px;
            height: 1px;
            background-color: #22356F;
            position: absolute;
            bottom: -7px;
            left: -7px;
            //z-index: 2;
        }

    }

    &__item {
        font-family: Larsseit;
        font-size: 14px;
        line-height: 15.59px;
        letter-spacing: -3.5%;
        color: #22356F;
        margin-right: 27px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__btn {
        width: 150px;
        height: 50px;
        border-radius: 50px;
        background-color: #62D0DF;
        border: none;
        font-family: Larsseit-Bold;
        font-size: 14px;
        line-height: 16.41px;
        letter-spacing: -3.5%;
        color: #FFFFFF;
        z-index: 2;
    }

    &__title {
        width: 484px;
        height: 167px;
        font-family: Larsseit-Bold;
        font-size: 48px;
        line-height: 53.44px;
        letter-spacing: -3.5%;
        color: #22356F;
        margin-top: 54px;
        margin-bottom: 85px;
    }

    &__text {
        width: 469px;
        height: 161px;
        font-family: Larsseit;
        font-size: 24px;
        line-height: 42.19px;
        color: #22356F;
        margin-bottom: 63px;
    }

    &__btn-left {
        width: 150px;
        height: 50px;
        background-color: #F9B640;
        border: none;
        font-family: Larsseit-Bold;
        font-size: 16px;
        line-height: 23.44px;
        letter-spacing: 10%;
        color: #FFFFFF;
        margin-right: 38px;
    }

    &__btn-right {
        width: 150px;
        height: 50px;
        background-color: #F4F9E2;
        border: none;
        font-family: Larsseit-Bold;
        font-size: 16px;
        line-height: 23.44px;
        letter-spacing: 10%;
        color: #FAB63E;
        text-align: left;
    }

}