.header {

    &__container {
    background: linear-gradient(90deg, rgb(244, 249, 226) 78%, rgb(255, 255, 255) 50%);
    height: 840px;
    position: relative;
    }

    &__wrapper {
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;

        //height: 315px;
        padding-top: 27px;

        // display: flex;
        // justify-content: space-between;
        // align-items: center;

    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        overflow: hidden;

        &::before {
            content: "";
            width: 808px;
            height: 545px;
            background: #EDFDFF;
            border-radius: 312.159px;

            position: absolute;
            top: 30px;
            right: -135px;
            transform: rotate(-65deg);
            z-index: -1;
        }

    }

    &__pic {

    }

}