.squares-small__wrapper {
    height: 480px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 360px;

}

.squares-small {

    &__box1 {
        background-color: #FFE2DE;
        padding-top: 95px;
        @extend %squareHeading;
    }

    &__box2 {
        background-color: #C4E769;
        padding-top: 95px;
        @extend %squareHeading;
        text-align: left;
        padding-left: 78px;
        padding-right: 50px;
    }

    &__box3 {
        background-color: #62D0DF;
        padding-top: 95px;
        @extend %squareHeading;
    }

    &__box4 {
        background-color: #0052C1;
        padding-top: 95px;
        @extend %squareHeading;
    }

}