.squares-small__wrapper {
    height: 480px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 360px;

}

.squares-small {

    &__cell1 {
        background: #FFE2DE;
        @extend %squareSmallCell;
        @extend %squareHeading;

        &::before {
            @extend %squareSmallBefore;
        }

        &::after {
            @extend %squareSmallAfter;
        }

    }

    &__cell2 {
        background: #C4E769;
        @extend %squareSmallCell;
        @extend %squareHeading;
        text-align: left;
        padding-left: 78px;
        padding-right: 50px;

        &::before {
            @extend %squareSmallBefore;
        }

        &::after {
            @extend %squareSmallAfter;
        }

    }

    &__cell3 {
        background: #62D0DF;
        @extend %squareSmallCell;
        @extend %squareHeading;

        &::before {
            @extend %squareSmallBefore;
        }

        &::after {
            @extend %squareSmallAfter;
        }

    }

    &__cell4 {
        background: #0052C1;
        @extend %squareSmallCell;
        @extend %squareHeading;

        &::before {
            @extend %squareSmallBefore;
        }

        &::after {
            @extend %squareSmallAfter;
        }

    }

    &__link {
        text-decoration: none;
        position: relative;

    // &::before {
    //     content: "";
    //     background-image: url(./../images/squares-small/ellipse.png);
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     width: 9px;
    //     height: 9px;
    //     position: absolute;
    //     left: -20px;
    //     top: 10px;
    // }

    // &::after {
    //     content: "";
    //     width: 255px;
    //     height: 1px;
    //     background-color: #FFFFFF;
    //     position: absolute;
    //     top: -25px;
    //     left: -35px;
    // }

    }

}