.squares__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 480px);
}

.squares {

    &__cell1 {
        background: #22356F;
        @extend %squareCell;
        @extend %squareHeading;
        padding-right: 200px;

        &::before {
            @extend %squareBefore;
        }

        &::after {
            @extend %squareAfter;
        }

    }

    &__cell2 {
        background: #0052C1;
        @extend %squareCell;
        @extend %squareHeading;
        padding-right: 200px;

        &::before {
            @extend %squareBefore;
        }

        &::after {
            @extend %squareAfter;
        }

    }

    &__cell3 {
        background-image: url(./../images/squares/smoothie.png);
        background-position: center;
        background-repeat: no-repeat;
        max-width: 480px;
        width: 100%;
        object-fit: cover;
        @extend %squareCell;
        @extend %squareHeading;

        &::before {
            @extend %squareBefore;
        }

        &::after {
            @extend %squareAfter;
        }

    }

    &__cell4 {
        background: #62D0DF;
        @extend %squareCell;
        @extend %squareHeading;

        &::before {
            @extend %squareBefore;
        }

        &::after {
            @extend %squareAfter;
        }

    }

    &__cell5 {
        background: #DEE1FF;
        @extend %squareCell;
        @extend %squareHeading;

        &::before {
            @extend %squareBefore;
        }

        &::after {
            @extend %squareAfter;
        }

    }

    &__cell6 {
        background: #8F00FF;
        @extend %squareCell;
        @extend %squareHeading;

        &::before {
            @extend %squareBefore;
        }

        &::after {
            @extend %squareAfter;
        }

    }

    &__link {
        text-decoration: none;
        position: relative;
    }

}