.squares-small__wrapper {
    height: 480px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 360px;

}

.squares-small {

    &__cell1 {
        background: #FFE2DE;
        @extend %squareSmallCell;
        @extend %squareSmallHeading;

        &::before {
            @extend %squareSmallBefore;
        }

        &::after {
            @extend %squareSmallAfter;
        }

    }

    &__cell2 {
        background: #C4E769;
        @extend %squareSmallCell;
        @extend %squareSmallHeading;
        text-align: left;
        padding-left: 78px;
        padding-right: 50px;

        &::before {
            @extend %squareSmallBefore;
        }

        &::after {
            @extend %squareSmallAfter;
        }

    }

    &__cell3 {
        background: #62D0DF;
        @extend %squareSmallCell;
        @extend %squareSmallHeading;

        &::before {
            @extend %squareSmallBefore;
        }

        &::after {
            @extend %squareSmallAfter;
        }

    }

    &__cell4 {
        background: #0052C1;
        @extend %squareSmallCell;
        @extend %squareSmallHeading;

        &::before {
            @extend %squareSmallBefore;
        }

        &::after {
            @extend %squareSmallAfter;
        }

    }

    &__link {
        text-decoration: none;
        position: relative;
    }

}