.thrive {

    &__wrapper {
        display: flex;
        padding-left: 1px;
    }

    &__content {
        padding: 160px 181px 95px;
        background-color: #62D0DF;
    }

    &__title {
        font-family: Larsseit-Bold;
        font-size: 36px;
        line-height: 27.42px;
        letter-spacing: -0.6%;
        color: #FFFFFF;
        margin-bottom: 75px;
    }

    &__span {
        font-family: Larsseit;
        font-size: 24px;
        line-height: 35.16px;
        text-align: left;
        color: #FFFFFF;
    }

    &__text {
        font-family: Larsseit;
        font-size: 20px;
        line-height: 29.3px;
        text-align: left;
        //letter-spacing: 1.0px;
        color: #FFFFFF;
    }

}

