.thrive {

    &__wrapper {
        display: flex;
    }

    &__content {
        padding: 151px 0 92px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #62D0DF;
        max-width: 915px;
        width: 100%;
    }

    &__inner {
        max-width: 553px;
    }

    &__title {
        font-family: "Larsseit-Bold";
        font-size: 36px;
        line-height: 27.42px;
        letter-spacing: -0.6%;
        color: #FFFFFF;
        margin-bottom: 75px;
    }

    &__span {
        font-family: "Larsseit";
        font-size: 24px;
        line-height: 35.16px;
        text-align: left;
        color: #FFFFFF;
    }

    &__text {
        font-family: "Larsseit";
        font-size: 20px;
        line-height: 29.3px;
        text-align: left;
        color: #FFFFFF;
    }

    &__image {
        max-width: 525px;
        width: 100%;
        object-fit: cover;
    }

}

