.training {

    &__wrapper {
        height: 480px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 360px;
    }

    &__cell {
        padding-top: 105px;
        position: relative;
        font-family: Larsseit-Bold;
        font-size: 32px;
        text-align: center;
        line-height: 33.75px;
        letter-spacing: -0.6%;
        color: #FFFFFF;

        &::before {
            content: "";
            background-image: url(./../images/training/circle.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 9px;
            height: 9px;
            position: absolute;
            left: 54px;
            top: 114px;
        }

        &::after {
            content: "";
            width: 255px;
            height: 1px;
            background-color: #FFFFFF;
            position: absolute;
            top: 75px;
            left: 52.5px;
        }

    }

    &__cell--pink {
        background: #FFE2DE;
    }

    &__cell--lightgreen {
        background: #C4E769;
        text-align: left;
        padding-left: 78px;
        padding-right: 50px;
    }

    &__cell--lightblue {
        background: #62D0DF;
    }

    &__cell--blue {
        background: #0052C1;
    }

    &__link {
        text-decoration: none;
        position: relative;
    }

}